@import url("https://fonts.googleapis.com/css?family=Lato");
.text-bigger {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  text-align: justify;
}

.text-smaller {
  font-size: 12px;
  font-weight: 250;
  line-height: 20px;
  text-align: justify;
}

.row, nav, .contacts {
  -ms-flex-direction: row;
      flex-direction: row;
}

.column, .all-projects .project, .contacts .contact {
  -ms-flex-direction: column;
      flex-direction: column;
}

body {
  font: 100% Lato, sans-serif;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.box, .box-white, .box-gray {
  margin-top: 50px;
}

.container {
  margin: 0 auto;
  max-width: 850px;
}

.center, .hero .welcome, .all-projects .project .hidd {
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 4px;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 4px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.title .line {
  width: 250px;
  border-top: 2px solid;
  margin-top: 6%;
}

.box-white .line {
  border-color: #FF4500;
}

.box-white h2 {
  color: #FF4500;
}

.box-gray {
  background-color: #8497b0;
}

.box-gray .line {
  border-color: #FFFFFF;
}

.box-gray h2 {
  color: #FFFFFF;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .title .line {
    width: 200px;
    margin-top: 6%;
  }
  .box-mobile {
    width: 550px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 15px;
  }
  .box, .box-white, .box-gray {
    margin-top: 10px;
  }
  .title .line {
    width: 70px;
    margin-top: 8%;
  }
  .text-bigger {
    font-size: 12px;
  }
  .text-smaller {
    font-size: 10px;
  }
  .box-mobile {
    width: 300px;
    margin: 0 auto;
  }
}

nav {
  display: -ms-flexbox;
  display: flex;
  background-color: #FF4500;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav .nav-brand {
  width: auto;
  height: 3em;
  padding: 2px 0;
}

nav ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

nav ul li {
  font-size: 120%;
  padding: 0 20px;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.4;
}

nav ul li a:hover {
  color: #8497b0;
}

nav ul.show {
  display: block;
}

nav .menu-icon {
  display: none;
  padding-right: 10px;
  font-size: 150%;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  nav {
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    position: relative;
  }
  nav ul {
    display: none;
    position: absolute;
    margin: 40px auto;
    background-color: #8497b0;
    line-height: 200%;
    opacity: 0.8;
  }
  nav ul li {
    display: block;
  }
  nav .menu-icon {
    display: block;
  }
}

.hero {
  margin-top: 0;
  background-image: url("../images/hero.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.hero .welcome {
  width: 320px;
  color: #FF4500;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

.all-projects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 0;
}

.all-projects .project {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 1em;
}

.all-projects .project .show-buttons {
  width: 400px;
  height: 4em;
  font-size: 16px;
  font-weight: bold;
  color: #8497b0;
  border-radius: 5px;
  cursor: pointer;
}

.all-projects .project .show-buttons p {
  margin: 5px auto;
}

.all-projects .project .show-buttons span {
  content: " \25BD";
  max-width: 10px;
  font-weight: bold;
}

.all-projects .project .show-buttons:hover {
  background-color: #8497b0;
  color: #FF4500;
}

.all-projects .project .btn-1 {
  background-color: #CC0033;
}

.all-projects .project .btn-2 {
  background-color: #FF3366;
}

.all-projects .project .btn-3 {
  background-color: #CC3366;
}

.all-projects .project .hidd {
  width: 70%;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 2em;
  opacity: 0;
  transform: scale(0);
  transition: .6s ease opacity,.6s ease transform;
}

.all-projects .project .hidd .visit-btns-line {
  width: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.all-projects .project .hidd .visit-btns-line .visit-btns {
  width: 100px;
  height: 4em;
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #FF4500;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  transition: 0.4s;
  cursor: pointer;
}

.all-projects .project .hidd .visit-btns-line .visit-btns:hover {
  background-color: #8497b0;
}

@media (max-width: 767px) {
  .all-projects .project .show-buttons {
    width: 250px;
    height: 4em;
    font-size: 10px;
  }
  .all-projects .project .hidd {
    margin-top: 0;
  }
  .all-projects .project .hidd .visit-btns-line .visit-btns {
    width: 70px;
    font-size: 8px;
    font-weight: normal;
  }
}

.contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 20px;
}

.contacts .contact {
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  text-align: center;
}

.icons {
  font-size: 50px;
}

@media (max-width: 767px) {
  .contacts {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .contacts .contact {
    padding-bottom: 15px;
  }
  .contacts .contact span {
    font-size: 14px;
  }
}

.icons {
  font-size: 30px;
}

footer {
  background-color: #FF4500;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.prefixed.css.map */