@import url("https://fonts.googleapis.com/css?family=Lato");
.text-bigger {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  text-align: justify;
  padding-bottom: 30px;
}

.text-smaller {
  font-size: 12px;
  font-weight: 250;
  line-height: 20px;
  text-align: justify;
}

.row, nav, .contacts {
  -ms-flex-direction: row;
      flex-direction: row;
}

.column, .all-projects, .all-projects .project, .contacts .contact {
  -ms-flex-direction: column;
      flex-direction: column;
}

body {
  font: 100% Lato, sans-serif;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.target {
  height: 30px;
}

.container {
  margin: 0 auto;
  max-width: 850px;
}

.center, .hero .welcome, .all-projects .project .hidd {
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 4px;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 4px;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.title .line {
  width: 250px;
  border-top: 2px solid;
  margin-top: 6%;
}

.box-white .line {
  border-color: #FF4500;
}

.box-white h2 {
  color: #FF4500;
}

.box-gray {
  background-color: #3A3A3A;
}

.box-gray .line {
  border-color: #FFFFFF;
}

.box-gray h2 {
  color: #FFFFFF;
}

.box-gray .text-white {
  color: #FFFFFF;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .title .line {
    width: 200px;
    margin-top: 6%;
  }
  .box-mobile {
    width: 550px;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 15px;
  }
  .box {
    margin-top: 10px;
  }
  .title .line {
    width: 70px;
    margin-top: 8%;
  }
  .text-bigger {
    font-size: 12px;
  }
  .text-smaller {
    font-size: 10px;
  }
  .box-mobile {
    width: 300px;
    margin: 0 auto;
  }
}

nav {
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  background-color: #3A3A3A;
  top: 0;
  z-index: 1;
}

nav .nav-brand {
  width: auto;
  height: 3em;
  cursor: pointer;
  margin-top: 5px;
}

nav ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

nav ul li {
  font-size: 120%;
  padding: 0 30px;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  transition: 0.4;
}

nav ul li a:hover {
  color: #FF4500;
}

nav .menu-icon {
  display: none;
}

@media (max-width: 1200px) {
  nav.hidden-menu {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }
  nav.hidden-menu ul {
    display: none;
  }
  nav.hidden-menu .menu-icon {
    float: right;
    display: block;
    padding: 13px 15px;
    font-size: 140%;
    color: #FFFFFF;
  }
  nav.show-menu ul {
    display: block;
    position: absolute;
    width: 100vw;
    margin-top: 52px;
    background-color: #3A3A3A;
    line-height: 200%;
    opacity: 0.8;
  }
  nav.show-menu ul li {
    display: block;
  }
  nav.show-menu ul li a:hover {
    color: #FF4500;
  }
}

.hero {
  margin-top: 0;
  background-image: url("../images/hero.jpg");
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 100px;
}

.hero .welcome {
  width: 320px;
  border-radius: 3px;
  color: #FFFFFF;
  background-color: rgba(255, 69, 0, 0.4);
  opacity: 0.9;
}

.this-page {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.this-page .btn-this-page-github {
  background-color: #FF4500;
  text-decoration: none;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  padding: 5px;
}

.this-page p .orange {
  color: #FF4500;
}

.all-projects {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 0;
}

.all-projects .project {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 1em;
}

.all-projects .project .show-buttons {
  width: 400px;
  height: 4em;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.all-projects .project .show-buttons span {
  content: " \25BD";
  max-width: 10px;
  font-weight: bold;
  position: absolute;
}

.all-projects .project .show-buttons:hover {
  background-color: #3A3A3A;
  color: #FF4500;
}

.all-projects .project .btn-1 {
  background-color: #848484;
}

.all-projects .project .btn-2 {
  background-color: #7C7C7C;
}

.all-projects .project .btn-3 {
  background-color: #717171;
}

.all-projects .project .btn-4 {
  background-color: #666666;
}

.all-projects .project .btn-5 {
  background-color: #5A5A5A;
}

.all-projects .project .btn-6 {
  background-color: #464646;
}

.all-projects .project .btn-7 {
  background-color: #3F3F3F;
}

.all-projects .project .hidd {
  width: 70%;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 0.5em;
  overflow: hidden;
  transition: height .5s;
}

.all-projects .project .hidd .description-project {
  width: 90%;
}

.all-projects .project .hidd .visit-btns-line {
  width: 70%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.all-projects .project .hidd .visit-btns-line .visit-btns {
  width: 100px;
  height: 4em;
  font-size: 10px;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #FF4500;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  transition: 0.4s;
  cursor: pointer;
}

.all-projects .project .hidd .visit-btns-line .visit-btns:hover {
  background-color: #3A3A3A;
}

@media (max-width: 767px) {
  .all-projects .project .show-buttons {
    width: 250px;
    height: 4em;
    font-size: 10px;
  }
  .all-projects .project .hidd {
    margin-top: 0;
  }
  .all-projects .project .hidd .visit-btns-line .visit-btns {
    width: 70px;
    font-size: 8px;
    font-weight: normal;
  }
}

.contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 20px;
}

.contacts .contact {
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  text-align: center;
}

.contacts a {
  text-decoration: none;
}

.icons {
  font-size: 50px;
}

@media (max-width: 767px) {
  .contacts {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .contacts .contact {
    padding-bottom: 15px;
  }
  .contacts .contact span {
    font-size: 14px;
  }
}

.icons {
  font-size: 30px;
}

footer {
  background-color: #FF4500;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.prefixed.css.map */