nav {
	display: flex;
	width: 100vw;
	@extend .row;
	justify-content: space-around;
	position: fixed;
	background-color: $global-gray;
	top: 0;
	z-index: 1;
		.nav-brand {
			width: auto;
			height: 3em;
			cursor: pointer;
			margin-top: 5px;
		}
		ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			justify-content: space-between;		
				li {
					font-size: 120%;
					padding: 0 30px;
					margin: 0;
						a, {
							text-decoration: none;
							color: $global-white;
							transition: 0.4;
						}
						a:hover, {
							color: $global-orange;
						}
				}
		}
		.menu-icon {
			display: none;
		}
}


@media (max-width: 1200px) {
	nav.hidden-menu {
		justify-content: space-between;
			ul {
				display: none;
			}
			.menu-icon {
				float: right;
				display: block;
				padding: 13px 15px;
				font-size: 140%;
				color: $global-white;

			}
	}
	nav.show-menu {
		ul {
			display: block;
			position: absolute;
			width: 100vw;
			margin-top: 52px;
			background-color: $global-gray;
			line-height: 200%;
			opacity: 0.8;
				li {
					display: block;
						a:hover, {
							color: $global-orange;
						}
				}
		}
	}
}

